<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello DiscworldQuotes!</title>
    <link href="https://fonts.googleapis.com/css?family=Frijole|Open+Sans|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="grid-container">
      <div class="grid-70 prefix-15">
        <header class="header">
          <h1>Discworld Quotes</h1>
        </header>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
        <footer>
          <p>Made by <a href="http://mileszs.com">MilesZS</a>. It's on <a href="http://github.com/mileszs/discworld_quotes">GitHub</a>. Modeled after the <a href="https://api.chucknorris.io/">Chuck Norris Jokes API</a>.</p>
        </footer>
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
